@font-face {
    font-family: 'roboto';
    src: url("../font/Roboto-Regular.eot");
    src: local("☺"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype"), url("../font/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url("../font/Roboto-Bold.eot");
    src: local("☺"), url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.ttf") format("truetype"), url("fonts/Roboto-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* body { */


/* background-image: url("../img/bg_holztile.jpg"); */


/* font-family: "roboto"; */


/* font-size: 18px; */


/* color: #606b72; */


/* } */


/* body { */


/* font-size: 12px; */


/* padding: 1rem; */


/* } */


/* @media (min-width: 768px) { */


/* body { */


/* font-size: 16px; */


/* } */


/* } */


/* @media (min-width: 992px) { */


/* body { */


/* font-size: 18px; */


/* } */


/* } */

.modal_getAllInfo .textinput {
    float: left;
    /* background: #cccccc; */
    margin: 5px;
    border-radius: 4px;
    width: calc(50% - 10px);
    padding: 0px !important;
    font-family: "roboto";
}

.modal_getAllInfo .textinput .inputtext {
    width: 100%;
    padding: 3px;
    line-height: 32.4px;
    color: #606b72;
    background-color: #ecedef;
    border: none;
    outline: none;
}

.modal_getAllInfo .h5 {
    font-size: 28px;
    list-style: 120%;
    font-family: "roboto";
    margin-bottom: 10px;
    color: #606b72;
    width: 100%;
    text-align: center;
}

.modal_getAllInfo .btnContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.modal_getAllInfo .btn {
    padding: 5px 20px;
    border-radius: 30px;
    border-width: 2px;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.modal_getAllInfo .btn.btn-outline {
    background-color: #fff;
    color: #337b47;
    border-color: #337b47;
}

.modal_getAllInfo .btn.btn-outline:hover {
    background-color: #337b47;
    color: #fff;
    border-color: #337b47;
}

.modal_getAllInfo .previewImage {
    /* min-height: 200px; */
    margin-bottom: 50px
}

.modal_getAllInfo .previewImage .aspect-container {
    position: relative;
    padding-bottom: 56.5%;
    max-width: 100%;
    /* margin: auto; */
    overflow: hidden;
}

.modal_getAllInfo .previewImage img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #606b72;
    /* border: 1px solid black; */
}

.modal_getAllInfo .logoContainer {
    width: 270px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.modal_getAllInfo .logoContainer img {
    width: 100%;
    height: auto;
}

.modal_getAllInfo table {
    font-size: 12px;
}

@media (min-width: 768px) {
    .modal_getAllInfo table {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .modal_getAllInfo table {
        font-size: 18px;
    }
}

.modal_getAllInfo tr {
    display: flex;
    padding: 3px 8px;
    border-top: 1px solid black
}

.modal_getAllInfo tr:first-child {
    border: none;
}

.modal_getAllInfo tr:last-of-type {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.modal_getAllInfo td,
.modal_getAllInfo th {
    flex: 1;
}

.modal_getAllInfo .td-big {
    flex: 4;
}

.modal_getAllInfo td.textRight,
.modal_getAllInfo th.textRight {
    text-align: right;
}

.modal_getAllInfo .finalSum {
    display: block;
    text-align: right;
    font-weight: bold;
}

.modal_getAllInfo .wrapper1by1 {
    position: relative;
    padding-top: 0px;
    height: 0;
    padding-bottom: 75%;
}

.modal_getAllInfo .wrapper1by1 .innerCont,
.modal_getAllInfo .wrapper4by3 .innerCont,
.modal_getAllInfo .wrapper5by4 .innerCont,
.modal_getAllInfo .wrapper4by5 .innerCont,
.modal_getAllInfo .wrapperImageboxNextTo4by3 .innerCont,
.modal_getAllInfo .wrapper16by9 .innerCont,
.modal_getAllInfo .wrapperImageboxNextTo16by9 .innerCont,
.modal_getAllInfo .wrapper21by9 .innerCont,
.modal_getAllInfo .wrapper1by1 iframe,
.modal_getAllInfo .wrapper4by3 iframe,
.modal_getAllInfo .wrapper5by4 iframe,
.modal_getAllInfo .wrapper4by5 iframe,
.modal_getAllInfo .wrapperImageboxNextTo4by3 iframe,
.modal_getAllInfo .wrapper16by9 iframe,
.modal_getAllInfo .wrapperImageboxNextTo16by9 iframe,
.modal_getAllInfo .wrapper21by9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_getAllInfo .wrapper1by1 .innerCont img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_getAllInfo .innerWrapperKontakt {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    width: 100%;
}

.modal_getAllInfo .innerWrapperKontakt p {
    margin: 0;
    padding: 0;
}

.modal_getAllInfo .innerWrapperKontakt a {
    color: #337b47;
    text-decoration: none;
    display: block;
}

.modal_getAllInfo .innerWrapperKontakt a:hover {
    color: #606b72;
}

.modal_getAllInfo .phoneIcon {
    background-image: url("../img/phone.svg");
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.modal_getAllInfo .mailIcon {
    background-image: url("../img/mail.svg");
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.modal_getAllInfo .blackOut {
    height: 100%;
    width: 100%;
    background-color: #0c0c0c70;
    position: absolute;
    z-index: -1;
}

.modal_getAllInfo {
    /* display: none; */
    /* background-color: white; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1230;
    top: 0;
}

.modal_getAllInfo .container {
    background-color: white;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 123;
    position: relative;
    height: 90%;
    width: 70%;
    overflow-y: scroll;
    padding: 50px;
    top: 100px;
    border-radius: 9px;
}

.modal-modal_getAllInfo .listContainer_descrition {
    display: none;
}